{% set herobanner__base_class = herobanner__base_class|default('herobanner') %}

{% set additional_attributes = {
  class: bem(herobanner__base_class, herobanner_modifiers)
} %}

<div {{ bem(herobanner__base_class) }}>
    {% include "@atoms/images/image/figure.twig" with {
        output_image_tag: true,
        image_url: 'https://www.google.com',
        image_src: 'https://placeimg.com/1200/200/tech',
        image_alt: 'This is the alt text blarg'
    } %}

    <div class="herobanner__headline herobanner__headline--centered">
        {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: 3,
            heading: 'Buy This Tech Thing Before It\'s too late!'
        } %}

        {% include "@atoms/buttons/button.twig" with {
            button_content: "Read more about this tech!"
        } %}
    </div>
</div>