.herobanner {
  position: relative;

  &__text {
    .h3 {
      color: $white;
    }

    &--centered {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }

  .figure__image {
    width: 100%;
  }
}
